{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "useBuiltIns": "entry",
      "corejs": 3
    }],
    "@babel/preset-react",
    "@babel/preset-modules"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", {
          "useBuiltIns": "entry",
          "corejs": 3
        }],
        "@babel/preset-react",
        "@babel/preset-modules"
      ],
      "plugins": ["@babel/plugin-proposal-object-rest-spread"]
    }
  }
}
