{
  "presets": [["@babel/env", { "modules": false }], "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": ["@babel/env", "@babel/preset-react"],
      "plugins": ["@babel/plugin-proposal-object-rest-spread"]
    }
  }
}
