{
  "presets": [["env", { "modules": false }], "react"],
  "plugins": ["transform-object-rest-spread", "react-hot-loader/babel"],
  "env": {
    "test": {
      "presets": ["env", "react"],
      "plugins": ["transform-object-rest-spread"]
    }
  }
}
