# App artifacts
/_build

# Local test config
config/test.local.exs
/db
/deps
/*.ez

TODOS.*

# Test artifacts
screenshots/
# Generated on crash by the VM
erl_crash.dump

# Static artifacts
/node_modules

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/*
!/priv/static/css
/priv/static/css/*
!/priv/static/css/semantic-ui
/priv/static/css/semantic-ui/*
!/priv/static/css/semantic-ui/semantic.min.css
!/priv/static/css/semantic-ui/postcss.config.js
!/priv/static/css/semantic-ui/themes
!/priv/static/css/semantic-ui/font

# ignore dll manifest and generated vendor bundle, as these are built on every dev build and deploy
web/static/js/dll/*

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs

# Intellij ide config
.idea

/priv/static/robots.txt
.DS_Store

package-lock.json
npm-debug.log*
.eslintcache
browser_logs.log

# Ignore .vscode directory
.vscode

# Ignore local dev config files like zsh
.zshrc
.env

# Ignore yarn
.yarn/install-state.gz