<div class="react-root">
  <div class="ui active large centered text loader">
    Connecting...
  </div>
</div>
<link rel="preload" as="image" href={@current_user.picture}/>
<link rel="prefetch" as="font" href={Routes.static_url(@conn, "/css/semantic-ui/themes/default/assets/fonts/outline-icons.woff2")} />
