.wrapper {
  display: flex;
  flex: 1;
  /* height declaration, seemingly redundant, is neededto ensure IE 10 & 11 render columns with
  *  proper height. Otherwise they're collapsed in IE. */
  flex-direction: column;
}
