.wrapper {
  --height: 95.5vh;
  display: flex;
  /* height declaration, seemingly redundant, is neededto ensure IE 10 & 11 render columns with
  *  proper height. Otherwise they're collapsed in IE. */
  height: var(--height);
  min-height: var(--height);
  flex-direction: column;
  animation: allowLowerThirdAppearanceToCompleteWithoutIntroducingTemporaryScrollbar 0.7s;
}

@keyframes allowLowerThirdAppearanceToCompleteWithoutIntroducingTemporaryScrollbar {
  0%   { overflow: hidden; }
  99%  { overflow: hidden; }
  100% { overflow: auto; }
}
