.group-label-text {
  font-size: 1.25rem;

  /*
  forgive me for the !important below; we have to override a framework specificity
  that I simply can't bring myself to override.
  The selector would read like a novel.
  */
  text-align: center !important;
}

.group-label-text {
  &:global(.readonly-group-label) {
    line-height: unset;
    text-decoration: underline;
  }
}
