:root {
  --semantic-light-grey: #DCDDDE;
  --semantic-teal: #00B5AD;
  --semantic-green: #2EB84D;
  --semantic-secondary: #F3F4F5;
  --magenta: #FD1884;
  --lightest-grey: #F2F2F2;
  --dark-grey: #8C8C8C;

  --highlight-blue: #CCE2FE;
  --creamsicle-orange: rgba(250, 188, 46, 0.79);
}
