use Mix.Config

config :remote_retro, google_oauth_client_id: "<Client Id>"
config :remote_retro, google_oauth_client_secret: "<Client secret>"
config :remote_retro, google_oauth_redirect_uri: "http://localhost:4000/auth/google/callback"

