@import './colors.css';

:global .photo-backdrop {
  background-image: url(/images/good_hearted_boyman_takes_part_in_remote_retro.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 100rem rgba(255, 255, 255, 0.25);

  .welcome-wrapper {
    --corner-offset: 5rem;
    padding-top: var(--corner-offset);
    padding-left: var(--corner-offset);
  }

  h1 {
    font-size: 4rem;
    font-weight: 200;
    line-height: 4rem;
    color: var(--semantic-teal);
  }

  sup {
    top: -2rem;
    font-size: 0.9rem;
  }
}

sup {
  color: var(--magenta);
}

:global .ui.modal {
  top: 30%;
}

:global .ui.branded-header-container {
  background: var(--lightest-grey);
  border: none;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0;

  .left-branded-header {
    margin-bottom: 0;

    p {
      font-weight: 200;
      font-size: large;
      padding-left: 1rem;
    }

    sup {
      top: -0.4rem;
      font-size: 0.1rem;
    }
  }

  .right-branded-header {
    padding-right: 0.5rem;
    margin-right: 0;

    .logo-text {
      font-size: 12px;
      font-weight: 500;
      color: var(--dark-grey);
      padding-right: 0.2rem;
      padding-top: 0.15rem;
    }

    :global(.ui.tiny.image) {
      /* necessary for IE 10 & 11, as height: auto applies no restriction to height of svgs,
       * and height: 100% only applies if the element's container has an explicit height
       */
      height: 1.5rem;

      img {
        height: 100%;
      }
    }
  }
}

:global .visually-hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}
