@import './colors.css';

:global .landing-grid {
  background-color: #336C99;
  background-image: linear-gradient(110deg, #336C99, #38983C 65%);
  color: #FFFFFF;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
  grid-column-gap: 40px;
  justify-content: center;
  align-items: flex-end;
  padding-top: 40px;
  grid-auto-rows: min-content;
}
:global .landing-logo {
  font-size: 6rem;
}
:global .logo-super-text {
  vertical-align: super;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 200;
}
:global .landing-description {
  margin-bottom: 2rem;
}
:global .logged-in-greeting {
  font-size: 1.6rem;
}
:global .landing-subheading {
  font-size: 2rem;
}
:global .landing-buttons {
  display: flex;
  flex-direction: column;
}
:global .landing-button {
  background-color: #FFFFFF;
  border-radius: .3rem;
  border-style: solid;
  border-color: currentColor;
  color: #2185D0;
  border-width: .1rem;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
:global .landing-button-small-text {
  display: block;
  font-size: 1rem;
  margin-top: .5rem;
}

:global .photo-backdrop {
  box-shadow: inset 0 0 0 100rem rgba(255, 255, 255, 0.25);

  .welcome-wrapper {
    --corner-offset: 5rem;
    padding-top: var(--corner-offset);
    padding-left: var(--corner-offset);
  }

  h1 {
    font-size: 4rem;
    font-weight: 200;
    line-height: 4rem;
    color: var(--semantic-teal);
  }

  sup {
    top: -2rem;
    font-size: 0.9rem;
  }
}

:global .ui.modal {
  top: 30%;
}

:global .ui.branded-header-container {
  background: var(--lightest-grey);
  border: none;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0;

  .left-branded-header {
    margin-bottom: 0;

    p {
      font-weight: 200;
      font-size: large;
      padding-left: 1rem;
    }

    sup {
      top: -0.4rem;
      font-size: 0.1rem;
    }
  }

  .right-branded-header {
    padding-right: 0.5rem;
    margin-right: 0;

    .logo-text {
      font-size: 12px;
      font-weight: 500;
      color: var(--dark-grey);
      padding-right: 0.2rem;
      padding-top: 0.15rem;
    }

    :global(.ui.tiny.image) {
      /* necessary for IE 10 & 11, as height: auto applies no restriction to height of svgs,
       * and height: 100% only applies if the element's container has an explicit height
       */
      height: 1.5rem;

      img {
        height: 100%;
      }
    }
  }
}

:global .visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
