@import './colors.css';

:global .landing-page {
  background: radial-gradient(var(--creamsicle-orange), white);

  --padding: 5rem;
  .welcome-wrapper {
    padding: var(--padding) 0 calc(1rem + var(--padding)) var(--padding);
  }

  .social {
    padding-top: 0.25rem;
    float: right;
    /* explicit z-index to ensure clickability of floated elements */
    position: relative;
    z-index: 1;

    & :not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  .cta-wrapper {
    .sign-in {
      margin: 1rem 0;
    }

    padding: calc(2 * var(--padding));
  }

  @media(max-width: 450px) and (orientation: portrait) {
    .welcome-wrapper {
      padding: 2.5rem;
    }

    .social {
      display: none;
    }

    .cta-wrapper {
      padding: 3.5rem;
    }
  }

  h1 {
    font-size: 4rem;
    font-weight: 200;
    line-height: 4rem;
    color: var(--semantic-teal);

    /* ensure header aligns with text below */
    transform: translateX(-0.35rem);
  }
}

:global .ui.modal {
  top: 30%;
}

:global .ui.branded-header-container {
  background: var(--lightest-grey);
  border: none;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0;

  .left-branded-header {
    margin-bottom: 0;

    p {
      font-weight: 200;
      font-size: large;
      padding-left: 1rem;
    }
  }

  .right-branded-header {
    padding-right: 0.5rem;
    margin-right: 0;

    .logo-text {
      font-size: 12px;
      font-weight: 500;
      color: var(--dark-grey);
      padding-right: 0.2rem;
      padding-top: 0.15rem;
    }

    :global(.ui.tiny.image) {
      /* necessary for IE 10 & 11, as height: auto applies no restriction to height of svgs,
       * and height: 100% only applies if the element's container has an explicit height
       */
      height: 1.5rem;

      img {
        height: 100%;
      }
    }
  }
}

:global .visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

@keyframes not-so-casual-prompt {
    0% { opacity: 0; }
   50% { opacity: 1; }
  100% { opacity: 0; }
}

:global(.reveal) {
  padding: 2rem 0;
  font-size: 5rem;

  :global(span) {
    animation: not-so-casual-prompt 1s;
    animation-iteration-count: 3;

    &:nth-child(1) {
      animation-delay: 0.0s;
    }
    &:nth-child(2) {
      animation-delay: 0.1s;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
    }
  }
}

:global(.bold) {
  font-weight: bold;
}

:global(.nested-action-items-list) {
  position: relative;
  left: 0.9rem;

  :global(.action-items-label) {
    cursor: pointer;
  }

  i {
    font-size: 0.9rem;
    position: relative;
    left: 0.2rem;
    transition: 50ms transform ease-in;
  }

  &:global(.hidden) {
    i {
      transform: rotate(90deg) translate(2px,0px);
    }

    ul {
      display: none;
    }
  }
}
