:root {
  --semantic-focused-input-border-color: #85B7D9;

  --semantic-light-grey: #DCDDDE;
  --semantic-teal: #00B5AD;
  --magenta: #FD1884;
  --lightest-grey: #F2F2F2;
  --dark-grey: #8C8C8C;
}

:global .photo-backdrop {
  background-image: url(/images/good_hearted_boyman_takes_part_in_remote_retro.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 100rem rgba(255, 255, 255, 0.25);
}

:global .welcome-wrapper.ui.segment {
  --corner-offset: 5rem;
  position: relative;
  padding-top: var(--corner-offset);
  padding-left: var(--corner-offset);
}

:global .ui.modal {
  top: 30%;
}

h1 {
  font-size: 4rem;
  font-weight: 200;
  line-height: 4rem;
  color: var(--semantic-teal);
}

sup {
  top: -2rem;
  font-size: 0.9rem;
  color: var(--magenta);
}

:global .ui.branded-header-container {
  background: var(--lightest-grey);
  border: none;
  padding: 0.5rem 0.5rem;
}

:global .ui.left-branded-header {
  margin-bottom: 0;
}

:global .ui.left-branded-header p {
  font-weight: 200;
  font-size: large;
  padding-left: 1rem;
}

:global .ui.left-branded-header sup {
  top: -0.4rem;
  font-size: 0.1rem;
}

:global .ui.floated.header.right-branded-header {
  padding-right: 1rem;
  margin-right: 0;
}

:global .ui.right-branded-header p {
  font-size: 0.8rem;
  color: var(--semantic-light-grey);
  font-weight: 200;
}

:global .logo-text {
  font-size: 12px;
  font-weight: 500;
  color: var(--dark-grey);
  padding-right: 0.2rem;
  padding-top: 0.2rem;
}
