:root {
  --semantic-light-grey: #DCDDDE;
  --semantic-divider-border-top-color: rgba(34, 36, 38, 0.15);
  --semantic-teal: #00B5AD;
  --semantic-green: #2EB84D;
  --semantic-secondary: #F3F4F5;
  --semantic-dark-grey: #767676;
  --semantic-sub-header-grey: rgba(0,0,0,.6);

  --magenta: #FD1884;
  --lightest-grey: #F2F2F2;
  --highlight-blue: #CCE2FE;
}
