/* Tiny Modal Width */

@media only screen and (max-width: 767px) {
  :global .ui.tiny.modal {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) {
  :global .ui.tiny.modal {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  :global .ui.tiny.modal {
    width: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  :global .ui.tiny.modal {
    width: 550px;
  }
}

@media only screen and (min-width: 1920px) {
  :global .ui.tiny.modal {
    width: 650px;
  }
}
