.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;

  transition: opacity 250ms ease-in;
  opacity: 0;
}

.wrapper {
  width: 100%;
  top: 0;
  background-color: white;
  height: fit-content;
  box-shadow: 1px 3px 3px 0 rgba(0,0,0,.2), 1px 3px 15px 2px rgba(0,0,0,.2);
  display: flex;
  justify-content: center;

  :global(.ui.basic.padded.clearing.segment) {
    @media(min-width: 768px) {
      width: fit-content;
    }
  }

  transition: transform 250ms ease-in-out;
  transform: translate3d(0, -100%, 0);
}

:global(.ReactModal__Overlay--after-open) {
  opacity: 1;
  .wrapper {
    transform: translate3d(0, 0, 0);
  }
}

:global(.ReactModal__Overlay--before-close) {
  opacity: 0;
  .wrapper {
    transform: translate3d(0, -100%, 0);
  }
}

div.guidance {
  max-width: 625px;

  &:global(.ui.content),
  &:global(.ui.content li) {
    font-size: 16px;
  }
}
