.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  &::before {
    content: "";

    /*
      safari specific hack for animating pseudoelements
      see https://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome
    */
    @media not all and (min-resolution:.001dpcm) {
      @media {
        content: none;
      }
    }

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;

    transition: opacity 250ms ease-out;
    opacity: 0;
  }

  z-index: 2;
}

.wrapper {
  width: 100%;
  top: 0;
  background-color: white;
  height: fit-content;
  box-shadow: 1px 3px 3px 0 rgba(0,0,0,.2), 1px 3px 15px 2px rgba(0,0,0,.2);
  display: flex;
  justify-content: center;

  :global(.ui.basic.padded.clearing.segment) {
    @media(min-width: 768px) {
      width: fit-content;
    }
  }

  transition: transform 250ms ease-in-out;
  transform: translate3d(0, -100%, 0);
}

:global(.ReactModal__Overlay--after-open) {
  &::before {
    opacity: 0.85;

    /*
      safari specific hack for animating pseudoelements
      see https://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome
    */
    @media not all and (min-resolution:.001dpcm) {
      @media {
        content: "";
      }
    }
  }

  .wrapper {
    transform: translate3d(0, 0, 0);
  }
}

:global(.ReactModal__Overlay--before-close) {
  &::before {
    opacity: 0;
  }

  .wrapper {
    transform: translate3d(0, -100%, 0);
  }
}

div.guidance {
  max-width: 625px;

  &:global(.ui.content),
  &:global(.ui.content li) {
    font-size: 16px;
  }
}
