.index i {
  margin-right: 0;
  opacity: 0;
  animation: ellipsis-dot 1s infinite;
  &:nth-child(1) {
    animation-delay: 0.0s;
  }
  &:nth-child(2) {
    animation-delay: 0.1s;
  }
  &:nth-child(3) {
    animation-delay: 0.2s;
  }
}


@keyframes ellipsis-dot {
    0% { opacity: 0; }
   50% { opacity: 1; }
  100% { opacity: 0; }
}
