@import '../../../css/colors.css';

:global(section.column).index {
  --inner-column-padding: 0.75rem;
  &:first-of-type { padding-right: var(--inner-column-padding) !important; }
  &:last-of-type { padding-left: var(--inner-column-padding) !important; }

  &:not(:first-of-type):not(:last-of-type) {
    padding-left: var(--inner-column-padding);
    padding-right: var(--inner-column-padding);
  }

  /* overlay for drop targeting */
  &:global(.dragged-over):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 3;
  }

  .column-head {
    margin-bottom: 0;
    padding: 0.8rem 0;
  }

  .divider:not(.vertical) {
    /* Semantic UI uses two different colors for the divider border-top and border-bottom.
    /  We want a solid appearance in the divider, so we use the top color across the board.
    */
    --semantic-divider-border-top-color: rgba(34, 36, 38, 0.15);
    background-color: var(--semantic-light-grey);
    border-color: var(--semantic-divider-border-top-color);
  }
}
