:global(section.column).index {
  --inner-column-padding: 0.75rem;
  &:first-of-type { padding-right: var(--inner-column-padding) !important; }
  &:last-of-type { padding-left: var(--inner-column-padding) !important; }

  &:not(:first-of-type):not(:last-of-type) {
    padding-left: var(--inner-column-padding);
    padding-right: var(--inner-column-padding);
  }

  .column-head {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .divider:not(.vertical) {
    /* Semantic UI uses two different colors for the divider border-top and border-bottom.
    /  We want a solid appearance in the divider, so we use the top color across the board.
    */
    --semanticDividerBorderTopColor: rgba(34, 36, 38, 0.15);
    background-color: var(--semantic-light-grey);
    border-color: var(--semanticDividerBorderTopColor);
  }

  .list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
  }
}
