@import '../../../css/colors.css';

.index {
  flex-grow: 1;
  flex-basis: 0;

  padding: 0 0.75rem;

  display: flex;
  flex-direction: column;
  position: relative;

  /* overlay for drop targeting */
  &:global(.dragged-over) {
    :global(.overlay) {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.1;
      z-index: 3;
      pointer-events: none;
    }
  }

  .column-head {
    padding: 1rem 0 0.4rem;
    margin: 0;

    p {
      display: inline-block;
      margin: 0 0 0 0.75rem;
      vertical-align: top;
      transform: translateY(-1px);
    }
  }

  .divider:not(.vertical) {
    /* Semantic UI uses two different colors for the divider border-top and border-bottom.
    /  We want a solid appearance in the divider, so we use the top color across the board.
    */
    background-color: var(--semantic-light-grey);
    border-color: var(--semantic-divider-border-top-color);
  }
}
