.github-star-prompt-wrapper {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  position: absolute;
  top: 1rem;
  left: 0%;
}

.dashboard-link {
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    position: absolute;
    right: 0;
    top: 1rem;
  }

  :global(.ui.button) {
    margin-right: 0;
  }
}
