.whitespace-no-wrap {
  white-space: nowrap;
}

.dashboard-link {
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    position: absolute;
    right: 0;
    top: 1rem;
  }

  :global(.ui.button) {
    margin-right: 0;
  }
}
