@import '../../../css/colors.css';

.wrapper {
  display: none;
  transition: transform 250ms ease-out;

  transform: translateX(100%);
  &:global(.active) {
    transition-delay: 200ms;
    transform: translateX(0);
  }

  @media(min-width: 1200px) {
    display: flex;
    flex-direction: column;

    width: 300px;
    padding: 0 1.5rem 12.5rem;

    text-align: center;
    align-items: center;
    justify-content: center;

    border-left: 1px solid var(--semantic-divider-border-top-color);
  }

  img {
    max-width: 100px;
  }

  .cta-section {
    align-self: normal;
    margin-top: 0.5rem;

    a {
      margin-right: 0;
    }
  }
}
