@import '../../../css/colors.css';

.wrapper {
  display: none;

  @media(min-width: 1200px) {
    display: flex;
    width: 300px;
    padding: 0 1.5rem 2rem;

    text-align: center;
    align-items: center;

    border-left: 1px solid var(--semantic-divider-border-top-color);
  }
}
