@import '../../../css/colors.css';
@import './shared/toggle.css';

.email-opt-in-toggle {
  composes: toggle from './shared/toggle.css';

  &:global(.ui.secondary.compact.segment) {
    padding: 1rem;
    font-size: 12px;
  }

  p {
    text-align: justify;
  }
}
