@import '../../../css/colors.css';
@import './grouping_board.css';

:root {
  /* also leveraged in grouping_board.css to ensure cards can never travel over gutters */
  --grouping-card-z-index: 1;
  --side-margin-of-cards: 2px;
}

.wrapper {
  display: inline-block;
  vertical-align: top;
  z-index: var(--grouping-card-z-index);

  /* take up optimal amount of width in rows where every card in the row fills its width */
  max-width: calc(
    (var(--max-width-of-board) - (
      var(--side-margin-of-cards) * 2 * var(--maximum-multiline-cards-in-a-given-row))
    ) / var(--maximum-multiline-cards-in-a-given-row)
  );

  word-wrap: break-word;

  transition: border 0.15s, box-shadow 0.15s;

  --vertical-padding: 4px;
  --border-width: 1px;
  --max-lines-to-show: 3;
  --semantic-line-height: 1.4em;

  font-size: 12px;
  padding: var(--vertical-padding) 8px;

  overflow: auto;
  max-height: calc(
    (var(--semantic-line-height) * var(--max-lines-to-show)) +
    (var(--vertical-padding) * 2) +
    (var(--border-width) * 2.1)
  );

  --minimized-vertical-padding: 3px;
  --minimized-semantic-line-height: 1.1em;
  &:global(.minimized) {
    font-size: 10px;
    padding: var(--minimized-vertical-padding);
    line-height: var(--minimized-semantic-line-height);

    max-height: calc(
      (var(--minimized-semantic-line-height) * var(--max-lines-to-show)) +
      (var(--minimized-vertical-padding) * 2) +
      (var(--border-width) * 2.1)
    );
  }

  &[data-category="start"],
  &[data-category="stop"],
  &[data-category="continue"] {
    &:before {
      content: "(" attr(data-category) ") ";
    }
  }

  border: 1px solid var(--semantic-dark-grey);
  border-radius: 3px;

  color: rgba(0, 0, 0, 0.8);
  background-color: white;

  /* disable text selection on mobile drags */
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none;

  &:global(.in-edit-state) {
    opacity: 0.5;
  }

  .loading-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
