@import '../../../css/colors.css';
@import './shared/group_label_text.css';

.text-input {
  composes: group-label-text;
  z-index: 1; /* required to ensure absolute positioning of child is honored */
  height: 2rem;

  + :global(.instruction) {
    font-size: 10px;
    color: var(--semantic-sub-header-grey);
    text-align: center;

    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;

    transition: bottom 100ms ease-in-out;

    :global(.keyboard-key) {
      background-color: var(--semantic-secondary);
      border: 1px solid var(--semantic-dark-grey);
      border-radius: 3px;
      padding: 0 2px;
    }
  }

  &:focus :global(+ .instruction) {
    @media(min-width: 1040px) {
      bottom: 1.8rem;
    }
  }
}

.checkbox {
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
  position: absolute;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

/* due to our use of 'composes' above to leverage shared styles, we cannot nest selectors */
/* but we need the specificity provided here to override semantic ui styles */
input[type='text'].text-input {
  padding: 0 2px;
}
