.wrapper {
  composes: wrapper from "./shared/full_height_stage.css";

  .groups-wrapper {
    /* these values need to be set for idea groups to wrap to the next row */
    /* but the actual values may need to be static */
    height: 90.5vh;
    max-height: 90.5vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    overflow: scroll;
  }
}
