@import '../../../css/colors.css';

.wrapper {
  display: inline-block;
  vertical-align: top;

  max-width: 250px;

  font-size: 12px;
  padding: 4px 8px;

  &:global(.minimized) {
    font-size: 10px;
    padding: 4px 6px;
  }

  margin: 0.25rem 0 0 0.35rem;

  &:first-child {
    /* regarding the negative margin here, there is additional phantom space
       between the first and second card that I simply cannot account for ¯\_(ツ)_/¯¯
    */
    margin: 0.25rem -1px 0 0.2rem;
  }

  border: 1px solid var(--semantic-dark-grey);
  border-radius: 3px;

  color: var(--semantic-dark-grey);
  background-color: white;

  /* disable text selection on mobile drags */
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none;

  &:global(.in-edit-state) {
    opacity: 0.5;
  }

  .loading-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
