@import '../../../css/colors.css';
@import './shared/group_label_text.css';

.wrapper {
  :global(.character-count) {
    position: absolute;
    right: 2px;
    bottom: 0;
    z-index: -1;
    transition: all 150ms ease-out;
    font-size: 11px;
    color: var(--semantic-dark-grey);
  }

  &:focus-within {
    :global(.character-count) {
      transform: translateY(80%);
    }
  }
}

.text-input {
  composes: group-label-text;
  height: 2rem;
}

.update-succeeded-checkmark {
  position: absolute;
  right: -1.75rem;

  &:global(.ui.check) {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

/* due to our use of 'composes' above to leverage shared styles, we cannot nest selectors */
/* but we need the specificity provided here to override semantic ui styles */
input[type='text'].text-input {
  padding: 0 2px;
}
