.wrapper {
  composes: wrapper from "./shared/full_height_stage.css";

  .groups-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;

    @media(min-width: 1040px) {
      display: block;
    }

    overflow: scroll;
  }
}
