@import '../../../css/colors.css';

.wrapper {
  composes: wrapper from "./shared/full_height_stage.css";

  .groups-wrapper {
    flex: 1;
    position: relative;
    overflow: auto;
  }

  .flex-container-for-groups-and-optionally-action-items {
    flex: 1;
    display: flex;
    overflow: hidden;

    :global(.action-item) {
      flex-grow: 0;
      flex-basis: auto;
      width: 50%;

      @media (min-width: 1040px) {
        width: 25%;
      }
      padding: 0 0.75rem;
      border-left: 1px solid var(--semantic-light-grey);
    }
  }
}
