@import '../../../css/colors.css';

.wrapper {
  display: inline-block;
  font-size: 10px;
  padding: 4px 6px;
  vertical-align: top;

  border: 1px solid var(--semantic-dark-grey);
  border-radius: 3px;

  color: var(--semantic-dark-grey);
  background-color: white;

  max-width: 250px;
}
