@import '../../../css/colors.css';

.wrapper {
  --margin: 1px;
  padding: 1rem;
  margin: var(--margin);

  border: 1px solid var(--semantic-dark-grey);
  border-radius: 5px;

  min-height: max-content;

  @media(min-width: 1040px) {
    height: max-content;
    display: inline-block;
    width: calc(25% - calc(var(--margin) * 2));
  }

  .centeredVotingWrapper {
    width: 15rem;
    margin: 0.5rem auto;
    text-align: center;

    :global(.ui.right.pointing.label) {
      display: none;
    }
  }

  :global(.list-container) {
    border-top: 1px solid var(--semantic-divider-border-top-color);

    transition: all 250ms ease-in;

    @media(min-width: 1040px) {
      height: 9rem;
      overflow: auto;
    }
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;

    position: relative;
    z-index: -1;

    li {
      padding: 0.25rem 0.25rem 0.15rem;

      display: flex;
      .category-img-wrapper {
        margin-right: 0.5rem;

        img {
          transform: translateY(1px);
        }
      }
    }
  }
}

:global(.labeling-plus-voting) .wrapper {
  .centeredVotingWrapper {
    :global(.ui.right.pointing.label) {
      display: inline-flex;
    }
  }
}
