/* overlay for drop targeting */
:global(.dragged-over) {
  position: relative;

  :global(.overlay) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 3;
    pointer-events: none;
  }
}
