li {
  transition: background-color 300ms, border-bottom 300ms;
}

.index {
  padding: 0.2rem 0;
  border-bottom: 1px solid var(--semantic-light-grey);
}

.author-attribution {
  font-weight: bold;
}

.edited-indicator {
  color: #A0A0A8;
  font-size: 0.85rem;
}

.highlighted {
  background-color: var(--highlight-blue);
  border-bottom: 1px solid var(--highlight-blue);
}

.idea-wrapper {
  overflow: auto;
}
