.select {
  width: 100% !important;
}

/* ensure select shares focus border styling consistent with other focused semantic ui inputs */
.select:focus {
  --semantic-focused-input-border-color: #85B7D9;
  border-color: var(--semantic-focused-input-border-color);
}

:global(.ui.form) .fields {
  margin-bottom: 0;
}

.flex {
  display: flex;
  align-items: center;
}

:global(.ui.form) .pointing-label {
  z-index: 0;
  top: -3em;
  left: 33%;
}
