/* overlay for drop targeting */
:global(.dragged-over) {
  position: relative;

  :global(> .overlay) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
  }
}
