@import '../../../css/colors.css';

.wrapper {
  --margin: 1px;
  padding: 1rem;
  margin: var(--margin);

  border: 1px solid var(--semantic-dark-grey);
  border-radius: 5px;

  display: inline-flex;
  flex-direction: column;

  height: 15rem;

  @media(min-width: 1040px) {
    width: calc(25% - calc(var(--margin) * 2));
  }

  .label-input-wrapper {
    align-self: center;
    position: relative;

    input[type='text'] {
      font-weight: bold;
      text-align: center;
      width: 15rem;
      background-color: white;
      z-index: 1;

      + :global(.instruction) {
        font-size: 10px;
        color: var(--semantic-sub-header-grey);
        text-align: center;

        display: block;
        position: absolute;
        width: 100%;
        top: 0;

        transition: top 100ms ease-in-out;

        :global(.tab) {
          background-color: var(--semantic-secondary);
          border: 1px solid var(--semantic-dark-grey);
          border-radius: 3px;
          padding: 0 2px;
        }
      }

      &:focus + :global(.instruction) {
        top: 1.25rem;
      }
    }
  }

  .list {
    border-top: 1px solid var(--semantic-divider-border-top-color);
    list-style: none;
    margin: 1rem 0 0 0;
    padding: 0;

    overflow: scroll;

    li {
      padding-left: 0.25rem;
    }
  }
}
