.select {
  width: 100% !important;
}

/* ensure select shares focus border styling consistent with other focused semantic ui inputs */
.select:focus {
  border-color: var(--semantic-focused-input-border-color) !important;
}

.fields {
  margin-bottom: 0 !important;
}

.flex {
  display: flex;
  align-items: center;
}

.pointing-label {
  top: -3em !important;
  left: 33% !important;
}
