@import '../../../css/colors.css';

.wrapper {
  --margin: 1px;
  padding: 1rem;
  margin: var(--margin);

  border: 1px solid var(--semantic-dark-grey);
  border-radius: 5px;

  display: inline-flex;
  flex-direction: column;

  @media(min-width: 1040px) {
    width: calc(25% - calc(var(--margin) * 2));
  }

  :global(> .ui.button) {
    align-self: center;
    margin: 0.5rem 0;
  }

  :global(.list-container) {
    border-top: 1px solid var(--semantic-divider-border-top-color);
    height: 9rem;
    overflow: scroll;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding-left: 0.25rem;
    }
  }
}
