@import '../../../css/colors.css';

li {
  transition: background-color 300ms, border-bottom 300ms;
}

.index {
  border-bottom: 1px solid var(--semantic-light-grey);
}

.highlighted {
  --highlight-blue: #CCE2FE;
  background-color: var(--highlight-blue);
  border-bottom: 1px solid var(--highlight-blue);
  z-index: 2;
  position: relative;
}
