@import '../../../css/colors.css';

.list {
  overflow: auto;
  list-style: none;
  position: relative;

  margin: 0;
  padding-left: 0;

  /* ensure list takes up maximum vertical space amount between column header and user list */
  flex-grow: 1;
  flex-basis: 0;

  min-height: 0;

  transition: box-shadow 250ms ease-in;

  &:global(.overflowed) {
    li:last-of-type {
      border-color: rgba(255, 255, 255, 0.0);
    }
  }
}
