@import '../../../css/colors.css';

.index {
  /* ensure sticky footer appears flush with bottom of screen on bigscreens by adding shadow */
  :global(.attached.secondary.segment) {
    border-bottom: none;
    box-shadow: 0 3rem 3rem 0 var(--semantic-secondary);
  }
}

:global(.translateY-height) {
  transition: height 0.7s ease;
}

:global(.translateY-appear) {
  transform: translate3d(0, 140%, 0);
}

:global(.translateY-appear.translateY-appear-active) {
  transition: transform 400ms ease;
  transition-delay: 300ms;
  transform: translate3d(0, 0, 0);
}

:global(.translateY-enter) {
  transform: translate3d(0, 300%, 0);
}

:global(.translateY-enter.translateY-enter-active) {
  transition: transform 400ms ease;
  transition-delay: 300ms;
  transform: translate3d(0, 0, 0);
}

:global(.translateY-leave) {
  transform: translate3d(0, 0, 0);
}

:global(.translateY-leave.translateY-leave-active) {
  transition: transform 400ms ease;
  transition-delay: 50ms;
  transform: translate3d(0, 200%, 0);
}
