:global(.translateY-height) {
  transition: height 0.7s ease;
}

:global(.translateY-appear) {
  transform: translateY(140%);
}

:global(.translateY-appear.translateY-appear-active) {
  transition: transform 400ms ease;
  transition-delay: 300ms;
  transform: translateY(0);
}

:global(.translateY-leave) {
  transform: translateY(0);
}

:global(.translateY-leave.translateY-leave-active) {
  transition: transform 400ms ease;
  transition-delay: 300ms;
  transform: translateY(130%);
}
