:global(.translateY-height) {
  transition: height 0.7s ease;
}

:global(.translateY-appear) {
  transform: translate3d(0, 140%, 0);
}

:global(.translateY-appear.translateY-appear-active) {
  transition: transform 400ms ease;
  transition-delay: 300ms;
  transform: translate3d(0, 0, 0);
}

:global(.translateY-enter) {
  transform: translate3d(0, 140%, 0);
}

:global(.translateY-enter.translateY-enter-active) {
  transition: transform 400ms ease;
  transition-delay: 300ms;
  transform: translate3d(0, 0, 0);
}

:global(.translateY-leave) {
  transform: translate3d(0, 0, 0);
}

:global(.translateY-leave.translateY-leave-active) {
  transition: transform 400ms ease;
  transition-delay: 300ms;
  transform: translate3d(0, 130%, 0);
}
