@import '../../../css/colors.css';

.index {
  z-index: 2;

  /* ensure sticky footer appears flush with bottom of screen on bigscreens by adding shadow */
  :global(.attached.secondary.segment) {
    border-bottom: none;
    box-shadow: 0 3rem 3rem 0 var(--semantic-secondary);
  }
}

:global(.translateY-appear) {
  transform: translateY(140%);
}

:global(.translateY-appear.translateY-appear-active) {
  transition: transform 400ms ease;
  transition-delay: 200ms;
  transform: translateY(0);
}

:global(.translateY-enter) {
  transform: translateY(300%);
}

:global(.translateY-enter.translateY-enter-active) {
  transition: transform 400ms ease;
  transition-delay: 200ms;
  transform: translateY(0);
}

:global(.translateY-exit) {
  transform: translateY(0);
}

:global(.translateY-exit.translateY-exit-active) {
  transition: transform 400ms ease;
  transition-delay: 50ms;
  transform: translateY(200%);
}
