@import '../../../css/colors.css';

.wrapper {
  position: relative;
  top: 0.05rem;
  float: right;
  margin-left: 3px;

  :global(.icon) {
    cursor: pointer;
    font-size: 1.25rem;
    margin: 0 0.15rem 0 0;

    &:global(.edit), &:global(:last-child) {
      margin-right: 0;
    }
  }

  &:global(.disabled .icon) {
    color: var(--semantic-light-grey);
    pointer-events: none;
  }
}

