.overlay {
  --shadow-cover-color: white;
  --shadow-height: 0.2rem;

  position: relative;
  width: auto;

  :global(.content) {
    background-color: var(--shadow-cover-color);
    overflow: scroll;

    --heightForMobile: 50vh;
    --heightForTablet: 56.25vh;
    --heightForLaptop: 58vh;
    @media only screen and (max-width: 767px) {
      max-height: var(--heightForMobile);
    }

    @media only screen and (min-width: 768px) {
      max-height: var(--heightForTablet);
    }
    @media only screen and (min-width: 992px) {
      max-height: var(--heightForLaptop);
    }

    /* height declaration, seemingly redundant, is neededto ensure IE 10 & 11 render columns
    *  with proper height. Otherwise they're collapsed in IE. We DON'T want to add height *outside*
    *  of IE because it causes the shadows to appear. (sigh)
    */
    &:global(.apply-height-for-IE) {
      @media only screen and (max-width: 767px) {
        height: var(--heightForMobile);
      }

      @media only screen and (min-width: 768px) {
        height: var(--heightForTablet);
      }
      @media only screen and (min-width: 992px) {
        height: var(--heightForLaptop);
      }
    }
  }

  :global(.shadowContainer) {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  :global(.radialShadowTop),
  :global(.radialShadowBottom),
  :global(.shadowCoverTop),
  :global(.shadowCoverBottom) {
    height: var(--shadow-height);
    width: inherit;

    background-repeat: no-repeat;
    background-size: 100% var(--shadow-height);
  }

  :global(.radialShadowTop), :global(.radialShadowBottom) {
    position: absolute;
    z-index: 1;
  }

  :global(.radialShadowTop) {
    background: radial-gradient(farthest-side at 50% 0%, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)) 100% 0;
  }

  :global(.radialShadowBottom) {
    bottom: 0;
    background: radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)) 0 100%;
  }

  :global(.shadowCoverTop), :global(.shadowCoverBottom) {
    position: relative;
    z-index: 2;
  }

  :global(.shadowCoverTop) {
    background: linear-gradient(var(--shadow-cover-color) 30%, var(--shadow-cover-color)) 100% 0;
    + ul, + ol, + div, + section {
      position: relative;
      top: calc(-0.5 * var(--shadow-height));
    }
  }

  :global(.shadowCoverBottom) {
    background: linear-gradient(var(--shadow-cover-color), var(--shadow-cover-color) 70%) 0 100%;
  }
}
