@import '../../../css/colors.css';

:global(.ui.modal).index {
  top: 25%;
}

:global(.center.aligned.header) .shareIcon {
  margin: 1rem -3rem 1rem 0;
}

.textInputWrapper:global(.ui.input) {
  width: 85%;
  margin: 0 auto;
}

.input:global(.ui.input) {
  &::selection {
    background-color: var(--highlight-blue);
  }
  text-align: center;
}

.button-copy { width: 225px; }

