:global(.center.aligned.header) .shareIcon {
  margin: 1rem -3rem 1rem 0;
}

.textInputWrapper:global(.ui.input) {
  width: 80%;
  margin: 0 auto !important;
}

.input:global(.ui.input) {
  text-align: center;
}

.button-copy { width: 225px; }

