:global(.lobby), :global(.prime-directive) {
  :global(.ui.grid .column:not(.row)).index {
    padding-left: 0;
    padding-right: 0;
  }
}

/* override hyper-specific semantic ui styles on mobile */
:global(.ui.stackable.grid>.column:not(.row)).index {
  @media only screen and (max-width: 767px) {
    padding-top: 0rem;

    .pointing-label {
      display: none;
    }
  }

  @media only screen and (min-width: 768px) {
    padding-left: 0rem;

    button {
      padding-top: 12px;
      padding-bottom: 12px;

      &(:disabled) .pointing-label {
        display: none;
      }

      &:not(:disabled) .pointing-label {
        display: block;
        font-size: 12px;

        top: -2.4rem;
        left: 50%;
        transform: translateX(-50%);

        /* these styles are stripped by semantic due to ascestor specificity, so we reinstate */
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}
