
/* override hyper-specific semantic ui styles on mobile */
:global(.ui.stackable.grid>.column:not(.row)).index {
  @media only screen and (max-width: 767px) {
    padding-top: 0rem;
  }

  @media only screen and (min-width: 768px) {
    padding-left: 0rem;

    button {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

:global(.ui.stackable.grid>.column:not(.row)).index .pointing-label {
  z-index: 0;
  top: -3em;
  left: 33%;
}