.wrapper {
  &::before {
    content: "" !important;
  }

  :global(.ui.row) {
    --verticalPadding: 0.75rem;
    padding-top: var(--verticalPadding);
    padding-bottom: var(--verticalPadding);
  }

  .picture {
    display: inline-block;
    height: 5.35rem;
    border-radius: 50%;
  }

  .name {
    margin-bottom: 0.5rem;
  }

  .animated-ellipsis-wrapper {
    font-size: 0.43rem;
    position: absolute;
    top: 1.75rem;
    left: 0;
    width: 100%;
  }
}

