@import '../../../css/colors.css';

.wrapper {
  /* Override hyper-specific Semantic UI styles*/
  padding-bottom: 0 !important;
  &::before { content: "" !important; }

  .picture {
    --sidePadding: 0.4rem;
    height: calc(var(--sidePadding) * 9);
    padding-left: var(--sidePadding);
    padding-right: var(--sidePadding);
    border-radius: 50%;
  }

  p {
    margin: 0;
  }

  .transfer-facilitatorship {
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    transform: translate(0.2rem, -0.4rem);

    i {
      background-color: white;
      margin-right: 0;

      &:before {
        top: 1px;
        position: relative;
      }
    }
  }

  .all-votes-in {
    color: var(--semantic-green);
    font-size: 0.7rem;
    font-weight: 600;

    opacity: 0;
    transition: opacity 0.3s ease-in;
    transition-delay: 700ms; /* allows vote increment animation to finish, allowing eye to shift */

    &:global(.opaque) {
      opacity: 1;
    }
  }
}
