.wrapper {
  /* Override hyper-specific Semantic UI styles */
  padding-bottom: 0 !important;
  &::before {
    content: "" !important;
  }

  .picture {
    --sidePadding: 0.5rem;
    display: inline-block;
    height: calc(var(--sidePadding) * 8);
    padding-left: var(--sidePadding) !important;
    padding-right: var(--sidePadding) !important;
    border-radius: 50%;
  }

  .name {
    margin-bottom: 0.5rem;
  }

  .animated-ellipsis-wrapper {
    font-size: 0.43rem;
    position: absolute;
    top: 1.75rem;
    left: 0;
    width: 100%;
  }
}

