:global(.basic.segment).index {
  :global(.horizontal.list) {
    margin-left: 0;
  }
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  @media(min-width: 768px) {
    padding-top: 1rem;
  }

  /* user list scrolls horizontally */
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

:global(.basic.segment).index {
  :global(.wrap) {
    max-width: 75rem;
    max-height: 12rem;
    min-height: 8rem;
    display: inline-block;
    white-space: initial;
    overflow-x: auto;
    padding-top: 0.25rem;

    :global(.item), :global(.item:first-child){
      margin: 0rem 1rem;
    }
  }
}

