:global(.basic.segment).index {
  :global(.horizontal.list) {
    margin-left: 0;
    display: inline-grid;
    overflow-x: scroll;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;

    :global(.item), :global(.item:first-child){
      margin: 0rem 1rem;
    }
  }
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  padding-top: 0;

  /* user list scrolls horizontally */
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}
