:global(.basic.segment).index {
  :global(.horizontal.list) {
    margin-left: 0;
  }
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  padding-top: 0;

  /* user list scrolls horizontally */
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

:global(.basic.segment).index {
  :global(.wrap) {
    max-width: 28rem;
    max-height: 24rem;
    display: inline-block;
    white-space: initial;
    overflow-x: scroll;

    :global(.item), :global(.item:first-child){
      margin: 0rem 1rem;
    }
  }
}

