:global(.increment-enter) {
  transform: translate3d(0, 2.5rem, 0);
}

:global(.increment-enter.increment-enter-active) {
  transform: translate3d(0, 0, 0);
  transition: transform 250ms ease;
}

:global(.increment-leave) {
  position: absolute;
  transform: translate3d(0, 0, 0);
}

:global(.increment-leave.increment-leave-active) {
  transition: transform 250ms ease;
  transform: translate3d(0, -2.5rem, 0);
}

:global(.ui.labeled.button){
  --fontSize: 0.85rem;

  .vote-button, .vote-count {
    font-size: var(--fontSize);
  }

  .vote-button {
    padding: 0.5rem 0.9rem;
  }

  .vote-count {
    padding: 0.5rem;
    cursor: default;
    position: relative;
    overflow: hidden;
  }
}
