:global(.increment-enter) {
  display: none;

  &:first-of-type {
    display: block;
  }

  transform: translate3d(0, 2.5rem, 0);
}

:global(.increment-enter.increment-enter-active) {
  transform: translate3d(0, 0, 0);
  transition: transform 250ms ease;
}

:global(.increment-leave) {
  position: absolute;
  transform: translate3d(0, -0.8rem, 0);
}

:global(.increment-leave.increment-leave-active) {
  transition: transform 250ms ease;
  transform: translate3d(0, -2.5rem, 0);
}

:global(.ui.labeled.button).wrapper {
  --fontSize: 0.85rem;
  cursor: default;

  &:global(.static) {
    pointer-events: none;

    .vote-button {
      font-size: 0.95rem;
    }
  }

  .vote-button, .vote-count {
    font-size: var(--fontSize);
  }

  /* override hyper specific semantic UI styling */
  .alter-count-button-group {
    height: unset;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    .vote-button {
      padding: 0.475rem 0.8rem;

      &:focus {
        color: rgba(0, 0, 0, 0.6);
      }

      &:disabled {
        :global(i.icon) {
          opacity: 0.5;
        }
      }
    }

    :global(i.icon) {
      margin-right: 0 !important;
      font-size: 0.75rem;

      &:before {
        position: relative;
        left: 1px;
        top: 1px;
      }
    }
  }

  .vote-button {
    padding: 0.475rem 0.9rem;

    /* allow wrapping element's disabled styling to handle dimming for consistency */
    &:disabled {
      opacity: 1;
    }
  }

  .vote-count {
    padding: 0.475rem;
    cursor: default;
    position: relative;
    overflow: hidden;
  }
}
