:global(.increment-enter) {
  transform: translate3d(0, 2.5rem, 0);
}

:global(.increment-enter.increment-enter-active) {
  transform: translate3d(0, 0, 0);
  transition: transform 250ms ease-out;
}

:global(.increment-exit) {
  position: absolute;
  transform: translate3d(0, -0.8rem, 0);
}

:global(.increment-exit.increment-exit-active) {
  transition: transform 250ms ease;
  transform: translate3d(0, -2.5rem, 0);
}

:global(.ui.labeled.button).wrapper {
  cursor: default;

  &:global(.static) {
    pointer-events: none;
  }

  .votes-label {
    font-size: 1rem;
    line-height: 1.1rem;
    padding: 0.3rem 0.9rem;

    /*
    override semantic ui's disabled styling here to allow wrapping element's
    disabled styling to handle dimming, otherwise the opacity changes 'stack',
    causing different opacity levels in the various elements
    */
    &:disabled {
      opacity: 1;
    }
  }

  .vote-count {
    line-height: 1.1rem;
    padding: 0.3rem 0.5rem 0.2rem;
    font-size: 0.85rem;
    cursor: default;
    position: relative;
    z-index: -1;
    overflow: hidden;
  }

  /* override hyper specific semantic UI styling */
  .alter-count-button-group {
    height: unset;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    line-height: 1rem;

    .alter-count-button {
      padding: 0.3rem 0.75rem;

      &:focus {
        color: rgba(0, 0, 0, 0.6);
      }

      &:disabled {
        /*
          overwrite semantic ui opacity that was causing unnecessary sibling repaints across every IdeaGroup
        */
        opacity: unset;

        :global(i.icon) {
          opacity: 0.5;
        }
      }
    }

    &:after {
      content: "";
      display: none;
    }

    :global(i.icon) {
      margin-right: 0 !important;
      font-size: 0.75rem;

      &:before {
        display: flex;
        transform: translate(3px, 0.5px);
      }
    }
  }
}
