:global(.increment-enter) {
  display: none;

  &:first-of-type {
    display: block;
  }

  transform: translate3d(0, 2.5rem, 0);
}

:global(.increment-enter.increment-enter-active) {
  transform: translate3d(0, 0, 0);
  transition: transform 250ms ease;
}

:global(.increment-leave) {
  position: absolute;
  transform: translate3d(0, -0.8rem, 0);
}

:global(.increment-leave.increment-leave-active) {
  transition: transform 250ms ease;
  transform: translate3d(0, -2.5rem, 0);
}

:global(.ui.labeled.button).wrapper {
  cursor: default;

  &:global(.static) {
    pointer-events: none;
  }

  .votes-label {
    font-size: 1rem;
    line-height: 1.1rem;
    padding: 0.3rem 0.9rem;

    /*
    override semantic ui's disabled styling here to allow wrapping element's
    disabled styling to handle dimming, otherwise the opacity changes 'stack',
    causing different opacity levels in the various elements
    */
    &:disabled {
      opacity: 1;
    }
  }

  .vote-count {
    line-height: 1.1rem;
    padding: 0.3rem 0.5rem 0.2rem;
    font-size: 0.85rem;
    cursor: default;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }

  /* override hyper specific semantic UI styling */
  .alter-count-button-group {
    height: unset;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    line-height: 1rem;

    .alter-count-button {
      padding: 0.3rem 0.75rem;

      &:focus {
        color: rgba(0, 0, 0, 0.6);
      }

      &:disabled {
        :global(i.icon) {
          opacity: 0.5;
        }
      }
    }

    :global(i.icon) {
      margin-right: 0 !important;
      font-size: 0.75rem;

      &:before {
        position: relative;
        left: 1px;
        top: 1px;
      }
    }
  }
}
