<!DOCTYPE html>
<html lang="en">
  <head>
    <%= if Application.get_env(:remote_retro, :env) == :prod do %>
      <script>
        // Google Tag Manager
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K8F6B6H');

        // Hotjar Tracking Code for https://remoteretro.org
        (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:650812,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>

      <!-- HoneyBadger client-side error reporting -->
      <script src="https://js.honeybadger.io/v0.5/honeybadger.min.js" type="text/javascript" data-apiKey="<%= Application.get_env(:honeybadger, :api_key) %>" data-environment="production" data-revision="<%= Application.get_env(:remote_retro, :source_version) %>"></script>
    <% else %>
      <script>
        window.hj = function() { /* hotjar no-op for non-prod envs */ };
      </script>
    <% end %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A real-time application for conducting Agile retrospectives">
    <meta name="google-site-verification" content="T5W8sjrjt-BmTK5SYTjPM-FQZD8oGNatTNAJSyRex7o" />
    <meta name="author" content="">
    <title>RemoteRetro</title>

    <link rel="preload" href="<%= static_path(@conn, "/css/semantic-ui/font/lato-v14-latin-regular.woff2") %>" as="font" crossorigin="anonymous" />
    <link rel="preload" href="<%= static_path(@conn, "/css/semantic-ui/themes/default/assets/fonts/icons.woff2") %>" as="font" crossorigin="anonymous" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/semantic-ui/semantic.min.css") %>">
    <link rel="stylesheet" href="<%= app_css(@conn) %>">

    <!--
      disable css animations in end-to-end tests;
      results in faster, more deterministic builds
    -->
    <%= if Application.get_env(:remote_retro, :env) == :test do %>
      <style>
        * {
          transition: none !important;
          transition-delay: 1ms !important;
          transition-duration: 1ms !important;
        }
      </style>
    <% end %>
  </head>

  <body class="<%= if assigns[:is_landing_page], do: "landing-page" %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8F6B6H"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <main role="main">
    <%= unless assigns[:omit_header] do %>
      <div class="ui clearing segment branded-header-container">
        <a href="/">
          <div class="ui teal left floated header left-branded-header">
            <p>RemoteRetro</p>
          </div>
        </a>
        <div class="ui right floated header right-branded-header grid">
          <a href="http://www.stridenyc.com/" target="_blank">
            <div>
              <div class="middle aligned content logo-text">Built by</div>
              <div class="ui tiny image"><img src="<%= static_path(@conn, "/images/stride_logo.png") %>" alt="Stride" /></div>
            </div>
          </a>

          <%= if @current_user do %>
            <a href="/logout" class="ui button mini">
              Log Out
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <%= if assigns[:include_js] do %>
      <script>
        window.userToken = "<%= @user_token %>";
        window.retroUUID = "<%= @retro_uuid %>";
      </script>
      <script src="<%= static_path(@conn, "/js/dll/dll.vendor.js") %>"></script>
      <script src="<%= app_js(@conn) %>"></script>
    <% end %>
  </body>
</html>
