<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href={Routes.static_url(@conn, "/")} />
    <link rel="dns-prefetch" href="https://accounts.google.com" />
    <link rel="shortcut icon" href={Routes.static_url(@conn, "/images/favicon.ico")} />
    <%= if Application.get_env(:remote_retro, :env) == :prod do %>
      <!-- Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52681708-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-52681708-2');
      </script>

      <script>
        // disable react dev tools in prod to eliminate possible attack vector
        var hasReactDevToolsExtension = typeof window.__REACT_DEVTOOLS_GLOBAL_HOOK__ === 'object'
        if (hasReactDevToolsExtension) {
           __REACT_DEVTOOLS_GLOBAL_HOOK__.inject = function() {};
        }
      </script>

      <!-- HoneyBadger client-side error reporting -->
      <script defer="defer" fetchpriority="high" importance="high" src="https://js.honeybadger.io/v0.5/honeybadger.min.js" type="text/javascript" data-apiKey={ Application.get_env(:honeybadger, :api_key)} data-environment="production" data-revision={Application.get_env(:remote_retro, :source_version)}></script>
    <% else %>
      <!-- stub out vendor script funcs in dev/test -->
      <script>
        window.Honeybadger = {
          notify: () => {},
          setContext: () => {},
        }
      </script>
    <% end %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={assigns[:description] || "The world's best tool for conducting remote retrospectives"}>
    <meta name="google-site-verification" content="T5W8sjrjt-BmTK5SYTjPM-FQZD8oGNatTNAJSyRex7o" />
    <meta name="author" content="">
    <title><%= assigns[:title] || "RemoteRetro.org | Free. World-class. Agile retrospectives." %></title>

    <link rel="preload" href={Routes.static_url(@conn, "/css/semantic-ui/font/lato-v15-latin-regular.woff2")} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={Routes.static_url(@conn, "/css/semantic-ui/font/lato-v15-latin-bold.woff2")} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={Routes.static_url(@conn, "/css/semantic-ui/themes/default/assets/fonts/brand-icons.woff2")} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={Routes.static_url(@conn, "/css/semantic-ui/themes/default/assets/fonts/icons.woff2")} as="font" type="font/woff2" crossorigin />
    <link rel="stylesheet" href={Routes.static_url(@conn, "/css/semantic-ui/semantic.min.css")} />
    <link rel="stylesheet" href={app_css(@conn)}>
    <link rel="apple-touch-icon" href={Routes.static_url(@conn, "/images/apple-touch-icon.png")} />

    <%= if Application.get_env(:remote_retro, :env) == :test do %>
      <!--
        disable css animations in end-to-end tests;
        results in faster, more deterministic builds
      -->
      <style>
        * {
          transition: none !important;
          transition-delay: 1ms !important;
          transition-duration: 1ms !important;
        }
      </style>
    <% end %>
  </head>

  <body class={assigns[:body_class]}>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8F6B6H"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <main role="main">
    <%= unless assigns[:omit_header] do %>
      <div class="ui segment branded-header-container">
        <a href="/">
          <div class="ui teal header left-branded-header">
            <p>RemoteRetro</p>
          </div>
        </a>
        <div class="ui header right-branded-header grid">
          <a href="http://stridenyc.com?utm_campaign=RemoteRetro&utm_source=Micro%20Website&utm_medium=remoteretro" target="_blank" class="built-by-wrapper">
            <div class="middle aligned content logo-text">Built by</div>
            <div class="ui tiny image"><img height="21" width="21" src={Routes.static_url(@conn, "/images/stride_logo.png")} alt="Stride" /></div>
          </a>
          <div class="help-icon" id="stage-help-icon"></div>

          <%= if assigns[:current_user] do %>
            <a href="/logout" class="ui mini compact logout button">
              Log Out
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
      <%= @inner_content %>
    </main>

    <%= if assigns[:include_js] do %>
      <script>
        window.userToken = "<%= @user_token %>";
        window.retroUUID = "<%= @retro_uuid %>";

        document.addEventListener('DOMContentLoaded', function() {
          if (!Honeybadger) return; // protect against edge-case where honeybadger request fails or gets blocked

          Honeybadger.setContext({
            userToken: window.userToken,
            retroUUID: window.retroUUID,
          });
        })
      </script>

      <script fetchpriority="high" importance="high" src={Routes.static_url(@conn, "/js/dll/dll.vendor.js")}></script>
      <script fetchpriority="high" importance="high" src={app_js(@conn)}></script>
    <% end %>
  </body>
</html>
