<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="<%= Routes.static_url(RemoteRetroWeb.Endpoint, "/css/semantic-ui/semantic.min.css") %>">

    <title>RemoteRetro</title>
  </head>

  <body>
    <h1 class="ui center aligned header" style="position: relative; top: 30%;">
      <img src="<%= Routes.static_url(RemoteRetroWeb.Endpoint, "/images/confused.svg") %>" alt="confused face" height="40" width="40" style="display: block; margin: 0.25rem auto;">
      <div class="content" style="padding-left: 0;">
        404
        <div class="sub header"><%= assigns[:message] || "Page not found" %></div>
      </div>
    </h1>
  </body>
</html>
