<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="<%= Routes.static_path(RemoteRetroWeb.Endpoint, "/css/semantic-ui/semantic.min.css") %>">

    <title>RemoteRetro</title>
  </head>

  <body>
    <h1 class="ui centered header" style="position: relative; top: 33.3%;">
      <div class="content">
        404
        <div class="sub header"><%= assigns[:message] || "Page not found" %></div>
      </div>
    </h1>
  </body>
</html>
